<div id='author-bio'>
    <div class='gravatar'>
      <img src="https://s.gravatar.com/avatar/5e31010be64735f76bbc3d810009fa05?s=80" alt="Aslam">
    </div>
  
    <div class='bio'>
      Hi, I’m Aslam. I work as a Software Consultant for an US based software service company. 
      Performing the role of a lead developer and application support engineer in 
      Markit Enterprise Data Management tool for an UK based leading Asset Management Company.
      Currently based at Edinburgh, United Kingdom. 
      Previously, worked as a RoR developer at <a href='https://www.foradian.com/'>Foradian.</a> 
      I maintain this blog as a hobby to keep my passion for web technology alive while Iam not busy with my day job.
      Articles here are mostly about the topics that interest me and that I research.
      Tweet to me at <a href='https://twitter.com/tweeslam'>@tweeslam</a>.
      <br>
      <br>
      <div class='links'>
        <a id='bio-home-link' href='/'>Posts</a>
        <a id='bio-about-link' href='/tabs/about/'>About</a>
      </div>
    </div>
  </div>