<div class='subscribe'>
    <script>
    function submitFeedburnerForm() {
      gtag('event', 'subscription', {
        'event_category': 'Feedburner',
        'event_label': 'Email Subscription'
      });
      window.open(
        'https://feedburner.google.com/fb/a/mailverify?uri=Techslam',
        'popupwindow',
        'scrollbars=yes,width=550,height=520');
      return true;
    }
    </script>
  
    <p class='text-lg'>Subscribe via Email !</p>
    <form action="https://feedburner.google.com/fb/a/mailverify"
        class='subscribe-form clearfix' method="post" target="popupwindow"
        onsubmit="return submitFeedburnerForm();">
      <input type="text" class='subscribe-email' name="email"
        placeholder="Email" />
      <input type="hidden" value="techslam" name="uri"/>
      <input type="hidden" name="loc" value="en_US"/>
      <input type="submit" value="Go" class="subscribe-submit" />
    </form>
  </div>